body {
  --code-normal: #cdd6f4;
  --code-comment: #6c7086;
  --code-function: #b4befe;
  --code-keyword: #f5c2e7;
  --code-operator: #f2cdcd;
  --code-property: #a6e3a1;
  --code-punctuation: #bac2de;
  --code-string: #eba0ac;
  --code-tag: #fab387;
  --code-value: #a6e3a1;
}
